$background-color: #cadbad;
// $tabhead_color: #dde8ca;
$tabhead_color: #d1e0b8;
$selected_tab_color: #637c36;
$selected_tab_font: #ecf0f1;
$body-text-color: #36617c;
$h1-header-color: #5863b6;
$h2-header-color: #7c58b6;
$tab-label-color: #b65892;
$border-color: #5892b6;
$shadow-color: #888888;
$panel-background-color: #efeddc;
$panel-text-color: #b65863;
