@import '../assets/styles/colors';


// Desktop
body {
  font-size: 1em;
  line-height: 1.375em;
}

h1 {
  text-align: center;
  font-size: 6em !important;
  // line-height: 3.05em;
  margin-bottom: 0.5em;
  font-weight: 400;
  color: $h1-header-color;
}

h2 {
  text-align: center;
  font-size: 2.25em;
  line-height: 1.25em;
  font-weight: 400;
  color: $h2-header-color;
}

h3 {
  font-size: 1.75em;
  line-height: 1.25em;
}

h4 {
  text-align: center;
  font-size: 1.125em;
  line-height: 1.222em;
}
