

  .day {
    padding: 1em;
  }

  h3 {
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .img-container {
    width: 20vw;
  }

  .center {
    width:  40vw;
    padding-left: 1em;
    padding-right: 1em;
    label{
      font-size: 1em;
      font-weight: 400;
    }
  }

  .right {
    width: 40vw;
    label {
      font-size: 0.8em;
    }
  }
